.card-slider{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 10px;

    .cp-transition {
        &__container {
          height: 100%;
          width: 100%;
          position: relative;
          @media (max-width: 768px) {
            min-height: 250px;
          }
          
          & > div {
            height: 100%;
          }
          &--1 {
            background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,251,10, .4) 0%, rgba(248,47,47, .4) 82.6% );
          }
          &--2 {
            background-image: linear-gradient( 110.1deg,  rgba(34,126,34, .4) 2.9%, rgba(168,251,60, .4) 90.3% );
          }
          &--3 {
            background-image: linear-gradient( 109.7deg,  rgba(229,0,57, .4) 1.8%, rgba(162,91,182, .4) 90.2% );
          }
          &--4 {
            background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255, .4) 0%, rgba(151,255,129, .4) 86.3% );
          }
          &--5 {
            background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255, .4) 0%, rgba(151,255,129, .4) 86.3% );
          }
        }
        .square {
          position: relative;
          height: 120px;
          width: 120px;
          margin: 15px;
          border-radius: 15px;
          box-shadow: var(--shadow-md);
          transition: all .2s;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;

          &--Web {
            // background-color: #EAD200;
            
          }
          &--Mobile {
            // background-color: #6ACB00;
          }
          &--BackEnd {
            // background-color: #771ADA;
          }
          &--Cloud {
            // background-color: #19A0FA;
          }
          &--Game{
            // background-color: #19A0FA;
          }
          &:hover {
            transform: translateY(-3px) !important;
          }

          .text{
            margin: auto;
            color: black;
            font-weight: 600;
          }
        }
        &__squares-wrapper {
          height: 100%;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          overflow-y: auto;
        }
        .card {
          color: white;
          &__wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            padding: 30px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;
            gap: 20px;
            @media (max-width: 900px) {
              width: calc(100% - 20px);
              height: calc(100% - 20px);
              padding: 10px;
            }

            &--1 {
              background-image: radial-gradient( circle 929px at 0.6% 1.3%,  rgba(248,80,80,1) 0%, rgba(248,251,10,1) 82.6% );
            }
            &--2 {
              background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
            }
            &--3 {
              background-image: linear-gradient( 109.7deg,  rgba(229,0,57,1) 1.8%, rgba(162,91,182,1) 90.2% );
            }
            &--4 {
              background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255,1) 0%, rgba(151,255,129,1) 86.3% );
            }
            &--5 {
                background-image: radial-gradient( circle 654px at 0.6% 48%,  rgba(12,170,255,1) 0%, rgba(151,255,129,1) 86.3% );
            }
          }
          &__header {
            display: flex;
            align-items: center;
            padding-top: 20px;

              
            h2 {
              font-size: 2rem;
              font-weight: 700;
              margin: auto;

              @media (max-width: 900px){
                margin-left: 10px;
                font-weight: 700;
                margin: auto;
              }
            }
            button {
              color: white;
              border: none;
              width: 50px;
              height: 50px;
              background: transparent;
              position: absolute;
              right: 10px;
              top: 10px;
              cursor: pointer;
          
              &:focus {
                outline: none;
              }
              svg{
                width: 100%;
                height: 100%;
              }
            }
          }
          &__content {
            display: grid;
            gap: 30px;
            grid-template-columns: min-content 1fr;
            align-content: center;
            shape-outside: circle();

            @media (max-width: 900px){
              display: flex;
            }
          }
          &__img-placeholder {
            height: 175px;
            width: 175px;
            background: rgba(255, 255, 255, .7);
            border-radius: 50%;
            @media (max-width: 900px) {
              height: 70px;
              width: 70px;
            }

            img{
              width: 80% !important; 
              height: 80%;
            }
          }
          &__text-placeholder {
            text-align: justify;
            line-height: 125%;
            font-size: 1.6rem;
          }
          &_tech-stack {
            width: 80%;
            height: 80px;
            background-color: red;
            display: flex;
            margin: auto;
          }
        }
      }
    
}