.carousel{
    // background-color: aquamarine;
    width: 50vw;
    justify-self: 'center';

    .item{
        // background-color: red;
        width: 200; 
        height: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 50px;
            height: 50px;
        }
    }
}