@import "../../colors.scss";

.navbar {
    height: 70px;

    header{
        background-color: $nav-background;
        color: $nav-text;

        .css-1q39md6-MuiButtonBase-root-MuiButton-root{
            color: $nav-text;
        }
        .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
            color: $nav-text;
        }
    }

    @media (max-width: 900px){
        height: 60px;
    }

    @media (max-width: 600px){
        height: 50px;
    }
}

.MuiMenu-paper{
    li{
        p{
            color: $nav-text;
        }
    }
}