//color define
$primaryBackground: '#ffffff';
$primaryRadiusBackgroundStart: '#c21f1f';
$primaryRadiusBackgroundEnd: '#e5ff00';
$primaryText: '#ee1515';
$secondaryText: '#0000';
$thirdText: '#fff';

//color assign
$nav-background: $primaryBackground;
$nav-text: $primaryText;

$square-card-background: $primaryBackground;
$square-card-text: $secondaryText;
$card-slider-background-start: $primaryRadiusBackgroundStart;
$card-slider-background-end: $primaryRadiusBackgroundEnd;
$card-slider-text: $thirdText;


$footer-background: $primaryBackground;
$footer-text: $primaryText;
$footer-top-button-background: $primaryBackground;
$footer-top-button-text: $primaryText;




