//color define
$primary-background: #ffffff;
$primary-radius-background-start: #c21f1f;
$primary-radius-background-end: #e5ff00;
$primary-text: #ee1515;
$secoundary-text: #000;
$third-text: #fff;



//color assign
$nav-background: $primary-background;
$nav-text: $primary-text;

$square-card-background: $primary-background;
$square-card-text: $secoundary-text;
$card-slider-background-start: $primary-radius-background-start;
$card-slider-background-end: $primary-radius-background-end;
$card-slider-text: $third-text;


$footer-background: $primary-background;
$footer-text: $primary-text;
$footer-top-button-background: $primary-background;
$footer-top-button-text: $primary-text;




